.main-wrapper{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, #8e81a0, #817493, #756886, #685c79, #5c506c);
    .top-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 350px;
        background: #e3e0e6;
        border-radius: 25px;
        .timer-box{
            width: 75%;
            height: 200px;
            display: flex;
            // background: #4d445a;
            background-image: linear-gradient(to right top, #6c607d, #645974, #5c526b, #554b63, #4d445a);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #f4f4f5;
            border-radius: 25px;
            .t-head{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 80%;
                color: #8e81a0;
                font: normal normal normal 14px Soleil;
            }
            .count{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 80%;
                color: #f4f4f5;
                font: normal normal normal 30px/110px Soleil;
                letter-spacing: 1px;
                span{
                    font: normal normal normal 15px Soleil;
                }
            }
        }
        .message-box{
            color: #4d445a;
            position: absolute;
            top: 56%;
            font: normal normal 600 20px Soleil;
            letter-spacing: 1.2px;
        }
        
    }
    .key-box{
        display: flex;
        width: 225px;
        justify-content: space-between;
        label{
            font: normal normal 600 14px Soleil;
            color: #8e81a0;
        }
        span{
            width: 150px;
            color: #4d445a;
            font: normal normal 600 16px Soleil;
            background: whitesmoke;
            border-radius: 25px;
            padding: 5px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 750px){
        .top-box{
            width: 90%;
            .timer-box{
                width: 85%;
                .t-head{
                    font: normal normal normal 12px/30px Soleil;
                }
                .count{
                    font: normal normal normal 18px Soleil;
                }
            }
            .message-box{
                top: 60%;
            }
        }
    }
}