.modal-wrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    .create-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.8);
        height: 280px;
        background-color: #95B0B5;
        width: 650px;
        border-radius: 20px;
        .content-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 25px;
            .in-row{
                display: flex;
                justify-content: space-between;
                .small-in{
                    display: flex;
                    flex-direction: column;
                    width: 46%;
                    label{
                        font: normal normal normal 18px Soleil;
                        margin: 5px 0;
                        color: #003547;
                    }
                    input{
                        width: 100%;
                        height: 38px;
                        padding: 0 5px;
                        border-radius: 4px;
                        border: none;
                    }
                }
            }
            .button-box{
                display: flex;
                justify-content: flex-end;
                button{
                    width: 175px;
                    height: 30px;
                    font: normal normal 600 14px Soleil;
                    background-color: #003547;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    color: #95B0B5;
                }
            } 
        }
    }

    .modal-background{
        width: 100%;
        height: auto;
        min-height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.65);
        top: 0;
        left: 0;
    }

    .view-modal{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.8);
        height: 250px;
        background-color: #95B0B5;
        width: 500px;
        border-radius: 20px;
        .content-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            padding: 15px;
            .in-box{
                display: flex;
                flex-direction: column;
                height: 70px;
                justify-content: space-between;
                label{
                    font: normal normal 600 18px Soliel;
                    color: #003547;
                    text-align: center;
                }
                input{
                    width: 275px;
                    padding: 0 8px ;
                    height: 32px;
                    border-radius: 4px;
                    border: none;
                }
            }
            .btn-box{
                text-align: center;
                button{
                    width: 200px;
                    border-radius: 5px;
                    height: 30px;
                    background: #003547;
                    cursor: pointer;
                    color: #95B0B5;
                }
            }
            
        }
    }
}