<div class="modal-wrapper" *ngIf="isShowModal == true">
    <div class="create-box" *ngIf = "_openFor === 2" [formGroup]="modalForm">
        <div class="content-wrapper">
            <div class="in-row">
                <div class="small-in">
                    <label>Name</label>
                    <input type="text" placeholder="John" formControlName = "in_name">
                </div>
                <div class="small-in">
                    <label>Message</label>
                    <input type="text" placeholder="Place your message"  formControlName = "in_message">
                </div>
            </div>
            <div class="in-row">
                <div class="small-in">
                    <label>Select Date</label>
                    <input type="date" formControlName = "in_date" required>
                </div>
                <div class="small-in">
                    <label>Select Time</label>
                    <input type="time" formControlName = "in_time" required>
                </div>
            </div>
            <div class="button-box">
                <button type="submit" (click) = "onStart()">Start</button>
            </div>
        </div>
    </div>


    <div class="modal-background" *ngIf="isShowModal == true" (click) = "onCloseModal()"></div>

    <div class="view-modal" *ngIf = "_openFor === 1">
        <div class="content-wrapper">
            <div class="in-box">
                <label>Enter The 6 digit countKey</label>
                <input type="text" placeholder="keyXXX" required [(ngModel)] = "viewKey">
            </div>

            <div class="btn-box">
                <button type="submit" (click) = "onView()">View</button>
            </div>
        </div>

    </div>
</div>