<div class="container">
    <div class="head-wrapper">
        <h2>Count-Down</h2>
    </div>

    <div class="content-wrapper">

        <div class="c-card" (click) = "onCustom()">
            <div class="card-img">
                <img src="" alt="">
            </div>
            <div class="card-text">
                <p>Create a Custom count-down</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/earth.png" alt="">
            </div>
            <div class="time-box">
                <p id="eDay">00</p>
                <span>:</span>
                <p id="eHour">00</p>
                <span>:</span>
                <p id="eMinute">00</p>
                <span>:</span>
                <p id="eSec">00</p>
            </div>
            <div class="card-text">
                <p>Earth's day Countdown</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/ocean.png" alt="">
            </div>
            <div class="card-text">
                <p>Ocean's Day Countdown</p>
            </div>
            <div class="time-box">
                <p id="oday">00</p>
                <span>:</span>
                <p id="ohour">00</p>
                <span>:</span>
                <p id="ominute">00</p>
                <span>:</span>
                <p id="osec">00</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/yoga.png" alt="">
            </div>
            <div class="card-text">
                <p>Yoga's Day Countdown</p>
            </div>
            <div class="time-box">
                <p id="yDay">00</p>
                <span>:</span>
                <p id="yHour">00</p>
                <span>:</span>
                <p id="yMinute">00</p>
                <span>:</span>
                <p id="ySec">00</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/wildlife.png" alt="">
            </div>
            <div class="card-text">
                <p>Wildlife's Day Countdown</p>
            </div>
            <div class="time-box">
                <p id="wDay">00</p>
                <span>:</span>
                <p id="wHour">00</p>
                <span>:</span>
                <p id="wMinute">00</p>
                <span>:</span>
                <p id="wSec">00</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/peace.png" alt="">
            </div>
            <div class="card-text">
                <p>Peace's Day Countdown</p>
            </div>
            <div class="time-box">
                <p id="pDay">00</p>
                <span>:</span>
                <p id="pHour">00</p>
                <span>:</span>
                <p id="pMinute">00</p>
                <span>:</span>
                <p id="pSec">00</p>
            </div>
        </div>

    </div>
</div>